<!DOCTYPE html>
<html>

  <head>
    <title>First Solo App</title>

    <link rel="stylesheet" href="styles.css">




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="lib/jquery.slimscroll.min.js"></script>
    <script src="lib/jquery.fullPage.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <script src="lib/angular-fullpage.min.js"></script>


    <script src="app.js"></script>

  </head>


  <body ng-app="zen" ng-controller="toDoList">

    <video autoplay loop id="bgvid">
      <source src="assets/vid.mp4" type="video/mp4">
    </video>

    <div class="title"><h1>zen-do</h1></div>

    <div class="toDoList">

      <h2>Add Task</h2>
      <form ng-submit="add()">
        <input ng-model="task" placeholder="Add task and press enter" style="width: 250px">
      </form>

      <h2>Tasks</h2>
      <div ng-repeat="item in list track by $index" class="task toDo">
        <span>{{ item }}</span>
        <button ng-click="done()">Done</button>
        <button ng-click="deleteFromList(item)">Delete</button>
      </div>

      <h2>Completed</h2>
      <div ng-repeat="item in completed track by $index" class="task completed">
        <span>{{ item }}</span>
        <button ng-click="redo()">Redo</button>
        <button ng-click="deleteFromCompleted(item)">Delete</button>
      </div>

    </div>

  </body>
</html>