<!DOCTYPE html>
<html>

  <head>
    <title>First Solo App</title>

    <link rel="stylesheet" href="styles.css">




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <!--  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script> -->
    <script src="lib/jquery.slimscroll.min.js"></script>
    <script src="lib/jquery.fullPage.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <script src="lib/angular-fullpage.min.js"></script>
    <!-- <script src="lib/sortable.min.js"></script> -->
    <script src="app.js"></script>

  </head>

  <body ng-app="zen" ng-controller="toDo">
    <h1>zen-do</h1>

    <form ng-submit="add()">
      <input ng-model="task" placeholder="Add task and press enter">
    </form>

    <h2>Tasks:</h2>
    <ul>
      <li ng-repeat="item in list track by $index">
        <span>{{ item }}</span>
        <button ng-click="done()">Done</button>
        <button ng-click="deleteFromList(item)">Delete</button>
      </li>
    </ul>

    <h2>Completed:</h2>
    <ul>
     <li ng-repeat="item in completed track by $index">
       <span>{{ item }}</span>
       <button ng-click="redo()">Redo</button>
       <button ng-click="deleteFromCompleted(item)">Delete</button>
     </li>
    </ul>


  </body>
</html>